.categoryButtons {
  width: 15%;
  position: fixed;
  height: 100%;
  margin-right: 100px;
  top: 100px;

  button {
    width: 100px;
  }
}

.itemsContainer {
  width: 80%;
  margin-left: auto;
  margin-top: 100px;

  button {
    background-color: #e6ccb2;
    margin: 0 auto;
    margin-top: 10px;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between;
  }

  p:first-child {
    font-weight: 500;
  }
}
