.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;

  .emptyCart {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
}

.flexContainer {
  .arrowIcon {
    padding-right: 10px;
  }

  &.accentHover {
    &:hover,
    &:focus {
      color: #b08968;
    }
  }
}

.cartItems {
  text-align: center;
  height: auto;

  .flexContainer {
    flex-direction: column;
    height: 140px;
  }

  img {
    width: 150px;
    height: 150px;
  }
}

table {
  width: 65%;
  margin: 0 auto;
  border-collapse: collapse;

  th {
    border-bottom: 1px solid #ced4da;
    padding-bottom: 10px;
  }

  td {
    padding: 30px 0;
    border-bottom: 1px solid #ced4da;
  }
}

.totalInfo {
  text-align: right;
  width: 65%;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 50px;

  tr {
    display: inline-table;
  }

  td {
    padding: 0px 18px 0 65px;
    border-bottom: none;
  }

  th {
    font-weight: bold;
  }
}

@media (max-width: 750px) {
  .mainContainer {
    .emptyCart {
      width: 100%;
    }
  }

  table {
    width: 100%;
  }
}
