.categoryButtons {
  text-align: left;
  position: fixed;
  height: 100%;
  top: 120px;
  background-color: #faf2ef;

  p {
    padding-left: 10px;
    font-weight: 800;
  }

  button {
    margin-bottom: 20px;
    background-color: #faf2ef;
    text-align: left;

    &:hover {
      text-transform: lowercase;
      font-style: italic;
      font-weight: 500;
      color: #b08968;
    }
  }
}

.itemsContainer {
  width: 83%;
  margin-left: auto;
  transition: 0.5s;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  li {
    margin-bottom: 80px;
    margin-right: 10px;

    p:nth-child(2) {
      font-weight: 500;
      color: #b08968;
      text-align: center;
    }
  }
}

//media queries
@media (max-width: 850px) {
  .itemsContainer {
    margin-top: 10px;
    width: 100%;
    z-index: 10;

    ul {
      justify-content: space-around;
    }

    li {
      margin-right: 0;
    }
  }

  .categoryButtons {
    width: 100%;
    position: static;
    margin-top: 50px;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    p {
      padding-left: 0;
    }

    button {
      padding-left: 0;
      margin: 0;
    }
  }
}
