/* Header */
header {
  position: sticky;
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .icon {
    font-size: 1.69rem;
  }

  p {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: #fff;
      position: absolute;
    }
  }
}

@media (max-width: 700px) {
  h1 {
    font-size: 1.7rem;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 1.3rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 1.1rem;
  }
}
